.about {
  color: #161513;
  margin: 180px auto 60px;
  max-width: 80%;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 0 70px;
  grid-template-areas:
    "about-me info"
    "about-me paragraphs"
    "about-me table";
}

.about__container {
  grid-area: about-me;
}

.about__name {
  display: flex;
  margin-bottom: 21px;
}

.about__first-name {
  margin: 0;
  font-size: 23px;
  line-height: 32px;
  font-weight: 400;
}

.about__first-name::after {
  border-radius: 50%;
  float: right;
  background-color: #f3384d;
  margin: 6px;
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
}

.about__surname {
  margin: 0;
  font-size: 23px;
  line-height: 32px;
  font-weight: 400;
}

.section_about {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.about__profession {
  margin: 0;
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
}

.about__info {
  margin: 0;
  padding-bottom: 36px;
  grid-area: info;
  font-size: 31px;
  line-height: 40px;
}

.about__paragraph {
  margin: 0;
  padding-bottom: 27px;
  grid-area: paragraphs;
  font-size: 18px;
  line-height: 32px;
}

.table {
  grid-area: table;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.table__cell {
  list-style: none;
  margin-right: 90px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 9px;
  color: #E94D35;
  font-size: 12px;
  line-height: 16px;
}

.table__text {
  margin: 0;
  font-size: 23px;
  line-height: 32px;
}

@media screen and (max-width: 1184px) {
  .about {
    grid-template-columns: 290px 1fr;
  }

  .about__profession {
    font-size: 31px;
    line-height: 40px;
  }

  .about__info {
    font-size: 23px;
    line-height: 32px;
  }
}


@media screen and (max-width: 1023px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }

  .about__name {
    flex-direction: column;
  }

  .about__first-name::after {
    top: -30px;
  }
}

@media screen and (max-width: 890px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .about__container {
    margin-bottom: 30px;
  }

  .about__name {
    flex-direction: row;
  }

  .about__first-name::after {
    top: 0;
  }
}

@media screen and (max-width: 519px) {
  .about {
    margin: 90px auto 60px;
  }

  .table__cell {
    list-style: none;
    margin-right: 45px;
  }

  .table__text {
    font-size: 18px;
    line-height: 32px;
  }
}