.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header__container {
  padding: 32px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 64px;
  width: 64px;
}

.header__item {
  margin-right: 56px;
  list-style: none;
}

.header__item:last-of-type {
  margin-right: 0;
}

.header_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__link {
  padding: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #161513;
  background: none;
  border: none;
  cursor: pointer;
}

.header__link::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #161513;
  left: 0;
  bottom: -5px;
  transform: scale(0, 1);
}

.header__link:hover::before {
  transform: scale(1, 1);
}

.header__container {
  display: flex;
  align-items: center;
}

.change-lang {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #161513;
  padding: 9px 26px;
}

@media screen and (max-width: 810px) {
  .header__container {
    padding: 32px 40px;
  }

  .change-lang {
    padding: 6px 14px;
  }

  .header__item {
    margin-right: 38px;
  }
}

@media screen and (max-width: 519px) {
  .header__item {
    margin-right: 18px;
  }

  .header__link {
    font-size: 12px;
  }

  .change-lang {
    border: none;
    padding: 0;
    font-size: 12px;
  }

  .logo {
    display: none;
  }
}