.footer {
  padding: 70px 80px 34px;
  background-color: #161513;
}

.footer__content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__copyright {
  margin: 0;
  padding-top: 30px;
  font-size: 14px;
  line-height: 24px;
  color: #F2F1EF;
}

.footer__link {
  font-size: 16px;
  line-height: 24px;
  color: #F2F1EF;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 34px 80px;
  }
}

@media screen and (max-width: 810px) {
  .footer {
    padding: 34px 40px;
  }
}

@media screen and (max-width: 400px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__container {
    margin-top: 24px;
    align-items: center;
  }

  .footer__copyright {
    margin-top: 16px;
    padding-top: 0;
  }
}

